In [9]:
import pandas as pd
import pandas as pd
import numpy as np
from scipy.stats import norm
from scipy import stats
from scipy.stats import ttest_ind 
import matplotlib.pyplot as plt 
import seaborn as sns
import openpyxl

In [10]:
covid=pd.read_csv('Data/covid19vaccinesbycounty.csv')

In [11]:
covid.head(11)

,county,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,california_flag,booster_recip_count,cumulative_booster_recip_count
0,Alameda,2020-01-05,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0
1,Alameda,2020-07-27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0
2,Alameda,2020-07-29,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
3,Alameda,2020-07-30,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
4,Alameda,2020-07-31,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
5,Alameda,2020-08-01,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
6,Alameda,2020-08-02,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
7,Alameda,2020-08-03,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
8,Alameda,2020-08-04,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
9,Alameda,2020-08-05,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
10,Alameda,2020-08-06,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0

In [12]:
covid.dropna(inplace=True)

In [13]:
covid.head(11)

,county,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,california_flag,booster_recip_count,cumulative_booster_recip_count
8964,Outside California,2020-08-03,1,1,0,0,1,1,0,0,1,1,0,0,1,1,Not in California,0,0
8965,Outside California,2020-08-12,2,3,1,1,1,2,0,0,2,3,0,0,2,3,Not in California,0,0
8966,Outside California,2020-08-22,1,4,1,2,0,2,0,0,1,4,0,0,1,4,Not in California,0,0
8967,Outside California,2020-08-25,3,7,2,4,1,3,0,0,3,7,0,0,3,7,Not in California,0,0
8968,Outside California,2020-09-01,2,9,1,5,1,4,0,0,1,7,1,1,1,8,Not in California,0,0
8969,Outside California,2020-09-02,1,10,0,5,1,5,0,0,1,8,0,1,1,9,Not in California,0,0
8970,Outside California,2020-09-04,1,11,1,6,0,5,0,0,1,9,0,1,1,10,Not in California,0,0
8971,Outside California,2020-09-07,1,12,0,6,1,6,0,0,1,10,0,1,1,11,Not in California,0,0
8972,Outside California,2020-09-09,1,13,0,6,1,7,0,0,0,9,1,2,0,11,Not in California,0,0
8973,Outside California,2020-09-10,2,15,1,7,1,8,0,0,1,9,1,3,1,12,Not in California,0,0
8974,Outside California,2020-09-12,1,16,0,7,1,9,0,0,1,10,0,3,1,13,Not in California,0,0

In [14]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31646 entries, 8964 to 40609
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   county                          31646 non-null  object
 1   administered_date               31646 non-null  object
 2   total_doses                     31646 non-null  int64
 3   cumulative_total_doses          31646 non-null  int64
 4   pfizer_doses                    31646 non-null  int64
 5   cumulative_pfizer_doses         31646 non-null  int64
 6   moderna_doses                   31646 non-null  int64
 7   cumulative_moderna_doses        31646 non-null  int64
 8   jj_doses                        31646 non-null  int64
 9   cumulative_jj_doses             31646 non-null  int64
 10  partially_vaccinated            31646 non-null  int64
 11  total_partially_vaccinated      31646 non-null  int64
 12  fully_vaccinated                31646 non-null  int64
 13  cumulative_fully_vaccinated     31646 non-null  int64
 14  at_least_one_dose               31646 non-null  int64
 15  cumulative_at_least_one_dose    31646 non-null  int64
 16  california_flag                 31646 non-null  object
 17  booster_recip_count             31646 non-null  int64
 18  cumulative_booster_recip_count  31646 non-null  int64
dtypes: int64(16), object(3)
memory usage: 4.8+ MB