In [99]:
#importing packages that will be needed to test the data

In [100]:
import pandas as pd
import pandas as pd
import numpy as np
from scipy.stats import norm
from scipy import stats
from scipy.stats import ttest_ind 
import matplotlib.pyplot as plt 
import seaborn as sns
import openpyxl

In [101]:
#importing the data I will be using

In [102]:
covid=pd.read_csv('Data/covid19vaccinesbycounty.csv')

In [103]:
#this is 10 rows of data to see some data a glance

In [104]:
covid.head(11)

,county,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,california_flag,booster_recip_count,cumulative_booster_recip_count
0,Alameda,2020-01-05,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0
1,Alameda,2020-07-27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0
2,Alameda,2020-07-29,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
3,Alameda,2020-07-30,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
4,Alameda,2020-07-31,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
5,Alameda,2020-08-01,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
6,Alameda,2020-08-02,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
7,Alameda,2020-08-03,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
8,Alameda,2020-08-04,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
9,Alameda,2020-08-05,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
10,Alameda,2020-08-06,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0

In [105]:
#Imported another dataset

In [106]:
county=pd.read_csv('Data/covid19vaccinesbycounty.csv')

In [108]:
county.head()

,county,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,california_flag,booster_recip_count,cumulative_booster_recip_count
0,Alameda,2020-01-05,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0
1,Alameda,2020-07-27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0
2,Alameda,2020-07-29,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
3,Alameda,2020-07-30,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
4,Alameda,2020-07-31,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0

In [109]:
doses=pd.read_csv('Data/covid19vaccinesadministeredbydemographics.csv')

In [110]:
doses.head()

,demographic_category,demographic_value,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,booster_recip_count,cumulative_booster_recip_count,booster_eligible_population
0,Age Group,18-49,2022-05-24,4691,34103581,2940,20171196,1674,12598288,64,1320403,809,1616426,573,13266106,848,14882532,2349,6751750,12826658
1,Age Group,50-64,2022-05-24,9419,17348656,5001,9212374,4368,7375220,31,745494,337,577825,330,6243630,350,6821455,1410,4047712,6114559
2,Age Group,65+,2022-05-24,14213,16417987,6963,7728306,7185,8422995,21,246821,334,484580,398,5508377,338,5992957,1332,4092974,5411735
3,Age Group,12-17,2022-05-24,1144,5414757,1141,5398601,3,11305,0,1342,169,224073,157,2116037,169,2340110,801,700520,1964037
4,Age Group,5-11,2022-05-24,2570,2702236,2569,2699203,0,1798,0,238,555,185584,538,1236883,555,1422467,1476,14715,0

In [111]:
pwd

'/Users/jin/Desktop/Final-Project-'

In [112]:
# the code below shows the column names and what type of data they are

In [115]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40610 entries, 0 to 40609
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   county                          40610 non-null  object
 1   administered_date               40610 non-null  object
 2   total_doses                     40610 non-null  int64
 3   cumulative_total_doses          40610 non-null  int64
 4   pfizer_doses                    40610 non-null  int64
 5   cumulative_pfizer_doses         40610 non-null  int64
 6   moderna_doses                   40610 non-null  int64
 7   cumulative_moderna_doses        40610 non-null  int64
 8   jj_doses                        40610 non-null  int64
 9   cumulative_jj_doses             40610 non-null  int64
 10  partially_vaccinated            40610 non-null  int64
 11  total_partially_vaccinated      40610 non-null  int64
 12  fully_vaccinated                40610 non-null  int64
 13  cumulative_fully_vaccinated     40610 non-null  int64
 14  at_least_one_dose               40610 non-null  int64
 15  cumulative_at_least_one_dose    40610 non-null  int64
 16  california_flag                 31646 non-null  object
 17  booster_recip_count             40610 non-null  int64
 18  cumulative_booster_recip_count  40610 non-null  int64
dtypes: int64(16), object(3)
memory usage: 5.9+ MB

In [118]:
#the code below shows all columns names

In [119]:
covid.columns

Index(['county', 'administered_date', 'total_doses', 'cumulative_total_doses',
       'pfizer_doses', 'cumulative_pfizer_doses', 'moderna_doses',
       'cumulative_moderna_doses', 'jj_doses', 'cumulative_jj_doses',
       'partially_vaccinated', 'total_partially_vaccinated',
       'fully_vaccinated', 'cumulative_fully_vaccinated', 'at_least_one_dose',
       'cumulative_at_least_one_dose', 'california_flag',
       'booster_recip_count', 'cumulative_booster_recip_count'],
      dtype='object')

In [120]:
# the code shows all the columns that have nan data on them

In [121]:
covid.isnull().sum()

county                               0
administered_date                    0
total_doses                          0
cumulative_total_doses               0
pfizer_doses                         0
cumulative_pfizer_doses              0
moderna_doses                        0
cumulative_moderna_doses             0
jj_doses                             0
cumulative_jj_doses                  0
partially_vaccinated                 0
total_partially_vaccinated           0
fully_vaccinated                     0
cumulative_fully_vaccinated          0
at_least_one_dose                    0
cumulative_at_least_one_dose         0
california_flag                   8964
booster_recip_count                  0
cumulative_booster_recip_count       0
dtype: int64

In [122]:
# the results above show how many data columns have null

In [123]:
covid.head(10)

,county,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,...,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,california_flag,booster_recip_count,cumulative_booster_recip_count,demographic_category,demographic_value,booster_eligible_population
0,Alameda,2020-01-05,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,0,0,NaN,NaN,NaN
1,Alameda,2020-07-27,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,0,0,NaN,NaN,NaN
2,Alameda,2020-07-29,0,1,0,0,0,1,0,0,...,0,0,0,1,NaN,0,0,NaN,NaN,NaN
3,Alameda,2020-07-30,0,1,0,0,0,1,0,0,...,0,0,0,1,NaN,0,0,NaN,NaN,NaN
4,Alameda,2020-07-31,0,1,0,0,0,1,0,0,...,0,0,0,1,NaN,0,0,NaN,NaN,NaN
5,Alameda,2020-08-01,0,1,0,0,0,1,0,0,...,0,0,0,1,NaN,0,0,NaN,NaN,NaN
6,Alameda,2020-08-02,0,1,0,0,0,1,0,0,...,0,0,0,1,NaN,0,0,NaN,NaN,NaN
7,Alameda,2020-08-03,0,1,0,0,0,1,0,0,...,0,0,0,1,NaN,0,0,NaN,NaN,NaN
8,Alameda,2020-08-04,0,1,0,0,0,1,0,0,...,0,0,0,1,NaN,0,0,NaN,NaN,NaN
9,Alameda,2020-08-05,0,1,0,0,0,1,0,0,...,0,0,0,1,NaN,0,0,NaN,NaN,NaN

In [129]:
# the code below drops the columns you dont want in your data

In [130]:
covid2 = covid.drop(['california_flag'],axis=1)

In [131]:
covid2.head()

,county,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,booster_recip_count,cumulative_booster_recip_count
0,Alameda,2020-01-05,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Alameda,2020-07-27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Alameda,2020-07-29,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0
3,Alameda,2020-07-30,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0
4,Alameda,2020-07-31,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0

In [132]:
covid2.groupby('county')['pfizer_doses'].mean(6)

county
Alameda                        3454.716031
All CA Counties               63382.280916
All CA and Non-CA Counties    64345.021374
Alpine                            0.106870
Amador                           25.691603
                                  ...
Tuolumne                         35.297710
Unknown                           6.126718
Ventura                        1308.703817
Yolo                            323.352672
Yuba                             59.262595
Name: pfizer_doses, Length: 62, dtype: float64

In [133]:
covid2.groupby('county')['pfizer_doses'].max(6)

county
Alameda                        15826
All CA Counties               292056
All CA and Non-CA Counties    296529
Alpine                             2
Amador                           279
                               ...
Tuolumne                         646
Unknown                           44
Ventura                         6035
Yolo                            2102
Yuba                             408
Name: pfizer_doses, Length: 62, dtype: int64

In [135]:
covid2.groupby('county')['moderna_doses'].mean(6)

county
Alameda                        1732.654962
All CA Counties               42076.691603
All CA and Non-CA Counties    42867.609160
Alpine                            2.795420
Amador                           57.593893
                                  ...
Tuolumne                         81.106870
Unknown                           3.201527
Ventura                         995.184733
Yolo                            283.145038
Yuba                             75.268702
Name: moderna_doses, Length: 62, dtype: float64

In [136]:
covid2.groupby('county')['moderna_doses'].max(6)

county
Alameda                        10385
All CA Counties               214336
All CA and Non-CA Counties    217398
Alpine                           112
Amador                           915
                               ...
Tuolumne                        1409
Unknown                           25
Ventura                         6954
Yolo                            2180
Yuba                             601
Name: moderna_doses, Length: 62, dtype: int64

In [30]:
# Does the Northern California resident’s vaccine at a higher rate than Southern California residents?

In [76]:
Texas=pd.read_csv('/Users/jin/Desktop/Final-Project-/Data/ texas county_level_vaccination.csv')

In [77]:
Texas.head()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 texas county_level_vaccination
County  Texas_County   People with at least 1 Dose - TX-Resident People Fully Vaccinated - TX-Resident Percent of Total Pop with at least 1 Dose -TX- ... Percent of Total Pop Fully Vaccinated - TX-Resi... People 5+ Fully Vaccinated -TX- Resident People 5+ with at least 1 Dose - TX-Resident Percent of 5+ Pop with at least 1 Dose - TX-Res... Percent of 5+ Pop Fully Vaccinated -TX- Resident People 12+ Fully Vaccinated -TX- Resident People 12+ with at least 1 Dose -TX- Resident Percent of 12+ Pop with at least 1 Dose -TX- Re... Percent of 12+ Pop Fully Vaccinated - TX-Resident People 18+ with at least 1 Dose -TX-Resident Percent of 18+ Pop with at least 1 Dose -TX- Re... People 18+ Fully Vaccinated -TX- Resident Percent of 18+ Pop Fully Vaccinated - TX-Resident People 65+ with at least 1 Dose - TX-Resident People 65+ Fully Vaccinated -TX- Resident Percent 65+ Pop at least 1 Dose -TX- Resident Percent of 65+ Pop Fully Vaccinated -TX- Resident TX- Fully Vaccinated with a First Booster Dose TX-% of Fully Vacc.Population ≥ 12 Years of Age... TX-% of Fully Vacc. Population ≥ 18 Years of Ag...  TX-% of Fully Vacc.Population ≥ 65 Years of Ag...
NaN    Anderson County 26135                                     23074                                 45.3                                               40                                                 23074                                    26135                                        47.7                                               42.1                                             22894                                     25894                                         51.2                                               45.3                                              25106                                        53.7                                               22224                                     47.5                                              6247                                          5613                                      72.2                                          64.8                                              8894                                           38.8                                               39.7                                                                                             57.1
       Andrews County  9447                                      8334                                  50.5                                               44.6                                               8334                                     9446                                         55.2                                               48.7                                             8094                                      9131                                          61.7                                               54.7                                              8425                                         65.3                                               7477                                      58                                                1709                                          1578                                      93.2                                          86.1                                              2944                                           36.4                                               38.5                                                                                             66.3
       Angelina County 46420                                     41035                                 53.5                                               47.3                                               41031                                    46409                                        57.3                                               50.7                                             40412                                     45509                                         62.9                                               55.9                                              42834                                        66.2                                               38119                                     59                                                12578                                         11682                                     87.2                                          81                                                16577                                          41                                                 42.9                                                                                             66.9
       Aransas County  15844                                     13600                                 67.4                                               57.8                                               13598                                    15842                                        70.7                                               60.7                                             13455                                     15628                                         75.3                                               64.8                                              14970                                        77.4                                               12907                                     66.7                                              6347                                          5621                                      93.5                                          82.8                                              6214                                           46.2                                               47.8                                                                                             65.3