In [2]:
#importing packages that will be needed to test the data

In [3]:
import pandas as pd
import pandas as pd
import numpy as np
from scipy.stats import norm
from scipy import stats
from scipy.stats import ttest_ind 
import matplotlib.pyplot as plt 
import seaborn as sns
import openpyxl

In [4]:
#importing the data I will be using

In [5]:
covid=pd.read_csv('Data/covid19vaccinesbycounty.csv')

In [6]:
#this is 10 rows of data to see some data a glance

In [7]:
covid.head(11)

,county,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,california_flag,booster_recip_count,cumulative_booster_recip_count
0,Alameda,2020-01-05,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0
1,Alameda,2020-07-27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0
2,Alameda,2020-07-29,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
3,Alameda,2020-07-30,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
4,Alameda,2020-07-31,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
5,Alameda,2020-08-01,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
6,Alameda,2020-08-02,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
7,Alameda,2020-08-03,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
8,Alameda,2020-08-04,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
9,Alameda,2020-08-05,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0
10,Alameda,2020-08-06,0,1,0,0,0,1,0,0,0,1,0,0,0,1,NaN,0,0

In [16]:
#Imported another dataset

In [17]:
county=pd.read_csv('/Users/jin/Desktop/covid19vaccinedemographic_age16_archive.csv')

In [18]:
doses=pd.read_csv('/Users/jin/Desktop/covid19vaccinesbydemographics.csv')

In [ ]:
#i used the code concat to merge

In [30]:
covid2=pd.concat([covid,county,doses])

In [31]:
covid2.head(11)

,county,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,...,booster_recip_count,cumulative_booster_recip_count,county_type,demographic_category,demographic_value,est_population,est_age_16plus_pop,cumulative_unvax_total_pop,cumulative_unvax_16plus_pop,suppress_data
8964,Outside California,2020-08-03,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8965,Outside California,2020-08-12,2.0,3.0,1.0,1.0,1.0,2.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8966,Outside California,2020-08-22,1.0,4.0,1.0,2.0,0.0,2.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8967,Outside California,2020-08-25,3.0,7.0,2.0,4.0,1.0,3.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8968,Outside California,2020-09-01,2.0,9.0,1.0,5.0,1.0,4.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8969,Outside California,2020-09-02,1.0,10.0,0.0,5.0,1.0,5.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8970,Outside California,2020-09-04,1.0,11.0,1.0,6.0,0.0,5.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8971,Outside California,2020-09-07,1.0,12.0,0.0,6.0,1.0,6.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8972,Outside California,2020-09-09,1.0,13.0,0.0,6.0,1.0,7.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8973,Outside California,2020-09-10,2.0,15.0,1.0,7.0,1.0,8.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8974,Outside California,2020-09-12,1.0,16.0,0.0,7.0,1.0,9.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# inputing isnull code to see all data that has null

In [34]:
covid2.isnull().sum()

county                             10881
administered_date                      0
total_doses                       154462
cumulative_total_doses            154462
pfizer_doses                      154462
cumulative_pfizer_doses           154462
moderna_doses                     154462
cumulative_moderna_doses          154462
jj_doses                          154462
cumulative_jj_doses               154462
partially_vaccinated                3388
total_partially_vaccinated          3388
fully_vaccinated                    3388
cumulative_fully_vaccinated         3388
at_least_one_dose                   3388
cumulative_at_least_one_dose        3388
california_flag                   165343
booster_recip_count               154462
cumulative_booster_recip_count    154462
county_type                        42527
demographic_category               31646
demographic_value                  31646
est_population                     67783
est_age_16plus_pop                 67783
cumulative_unvax_total_pop         71017
cumulative_unvax_16plus_pop        71017
suppress_data                      42527
dtype: int64

In [36]:
#inputing notnull code to view data that has data

In [37]:
covid2.notnull().head()

,county,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,...,booster_recip_count,cumulative_booster_recip_count,county_type,demographic_category,demographic_value,est_population,est_age_16plus_pop,cumulative_unvax_total_pop,cumulative_unvax_16plus_pop,suppress_data
8964,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,False,False,False,False
8965,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,False,False,False,False
8966,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,False,False,False,False
8967,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,False,False,False,False
8968,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,False,False,False,False

In [38]:
covid2.shape

(196989, 27)

In [39]:
covid.dropna(how = 'any').shape

(31646, 19)

In [24]:
# this is 10 rows of the dataset with the missing data removed

In [27]:
covid2.head()

Empty DataFrame
Columns: [county, administered_date, total_doses, cumulative_total_doses, pfizer_doses, cumulative_pfizer_doses, moderna_doses, cumulative_moderna_doses, jj_doses, cumulative_jj_doses, partially_vaccinated, total_partially_vaccinated, fully_vaccinated, cumulative_fully_vaccinated, at_least_one_dose, cumulative_at_least_one_dose, california_flag, booster_recip_count, cumulative_booster_recip_count, county_type, demographic_category, demographic_value, est_population, est_age_16plus_pop, cumulative_unvax_total_pop, cumulative_unvax_16plus_pop, suppress_data]
Index: []

[0 rows x 27 columns]

In [11]:
#inputing info code to see column names and type of data (interger, object)

In [28]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31646 entries, 8964 to 40609
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   county                          31646 non-null  object
 1   administered_date               31646 non-null  object
 2   total_doses                     31646 non-null  int64
 3   cumulative_total_doses          31646 non-null  int64
 4   pfizer_doses                    31646 non-null  int64
 5   cumulative_pfizer_doses         31646 non-null  int64
 6   moderna_doses                   31646 non-null  int64
 7   cumulative_moderna_doses        31646 non-null  int64
 8   jj_doses                        31646 non-null  int64
 9   cumulative_jj_doses             31646 non-null  int64
 10  partially_vaccinated            31646 non-null  int64
 11  total_partially_vaccinated      31646 non-null  int64
 12  fully_vaccinated                31646 non-null  int64
 13  cumulative_fully_vaccinated     31646 non-null  int64
 14  at_least_one_dose               31646 non-null  int64
 15  cumulative_at_least_one_dose    31646 non-null  int64
 16  california_flag                 31646 non-null  object
 17  booster_recip_count             31646 non-null  int64
 18  cumulative_booster_recip_count  31646 non-null  int64
dtypes: int64(16), object(3)
memory usage: 4.8+ MB